*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: lavenderblush;
    
}
nav{
    background-color: black;
}
nav li, a, button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: mediumblue;
    text-decoration:none;
}
header{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    background-color: black;
}
.nav_elements{
    background-color: black;
    list-style-type:none;
}
.nav_elements li{
    background-color: black;
    display:inline-block;
    padding:0 20px;
}
.nav_elements li a{
    background-color: black;
    transition: all 0.3s ease 0s ;
}
.nav_elements li a:hover{
    color:whitesmoke;
}
.c{
    padding:9px;
    background-color:rgba(0,136,169,1);
    border:none;
    border-radius:50px;
    transition: all 0.3s ease 0s ;
    cursor: pointer;
    color:black;
    font-weight: bold;
}
.c:hover{
    background-color: white;
}

.bcontent{
    font-family: 'Lucida Handwriting',Cursive,Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    padding:250px;
    padding-top: 410px;
}
h1, h3{
    color:mediumblue;
    font-style: bold;
    font-family: 'Verdana','Sans Serif';
    font-size: 50px;
}
div.contact1{
    position:absolute;
    top:1700px;
   left:1200px;
   bottom:0;
}
div.follow{
    position:absolute;
    top:1800px;
    left:1200px;
    bottom:0;
    display:inline-block;
}
div.follow img{
    height:30px;
    width:30px;
}
footer{
      
    font-size: 20px;
}
#submit{
    font-size: 20px;
    border-radius: 50px;
    border-color:blue;
    padding:9px;
    padding-top: 5px;
    padding-bottom: 5px;

}
div.signup{
    position: absolute;
    top:1700px;
    left:30px;
   
    
    
   }
   h2{
    font-size:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.contact1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image{
    position: absolute;
    width:1520px;
    height:400px;
    /*top:1100px;*/
    top:139px;
    /*left:500px;*/
    /*border-radius: 50px;*/
    
}
.signup1{
    position:relative;
    background-color: blueviolet;
    padding:200px;
    height:650px;
    width:1000;
}
form{
    background-color: hotpink;
    width:500px;
    align-items: center;
    align-content: center;
    align-self: center;
}